<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="./favicon.ico">
<title>Meta.js NMA Demo</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<style>
html,body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow-x: hidden;
}
p {
    margin: 0.5em 0;
}
.mb-1 {
    margin-bottom: 1em;
}
.tb-result {
    padding: 2px 0;
}
.tb-result th {
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    padding: 0px 5px;
}
.tb-result td {
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    text-align: center;
    padding: 0px 5px;
}
.param-list {
    padding: 1px;
}
.param-key {
    padding: 1px 5px;
    background: #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
}
.param-val {
    padding: 1px 3px;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
    font-style: italic;
}
#pan_results {
    max-height: 100%;
}
</style>
</head>
<body>
<p>
    <b>
        Meta.js Demonstration for Network Meta-Analysis
    </b> |
    More information: 
    <a target="_blank" href="https://github.com/OHNLP/Meta.js">
        <i class="fab fa-github"></i>
        GitHub
    </a>
</p>
<div id="app_test"
    style="display: flex; flex-direction: row;">

    <fieldset>
        <legend>DATA</legend>

        <div>

            <div class="mb-1">
                <p>A sample outcome with binary data</p>
                <textarea id="sample_txt" 
                    cols="40" 
                    rows="11" 
                    v-model="sample_txt"></textarea>
                <br>
                <button v-on:click="run_sample"
                    :disabled="is_testing">
                    Run PMA
                </button>
                |

                <button v-on:click="make_sample_run"
                    :disabled="is_testing">
                    Make random sample and run PMA
                </button>
            </div>
            
            <hr>

            <div style="display: inline;">
                <button v-on:click="run_test(1000, 50, 'OR')"
                    :disabled="is_testing">
                    Run PMA for OR on 1,000 outcomes 50 times.
                </button>
                
                <br>
                <br>

                <button v-on:click="run_test(1000, 50, 'RR')"
                    :disabled="is_testing">
                    Run PMA for RR on 1,000 outcomes 50 times.
                </button>
                
                <br>
                <br>

                <button v-on:click="run_test(1000, 50, 'INCD')"
                    :disabled="is_testing">
                    Run PMA for Incidence on 1,000 outcomes 50 times.
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset id="pan_results">
        <legend>RESULTS</legend>
        <p v-if="dur == null">
        </p>
        <p v-else>
            It takes <b>{{ tf4(dur) }}</b> seconds to calculate {{ results.length }} outcomes
        </p>
        <div v-if="results.length > 0"
            style="display: flex; flex-direction: column; flex-wrap: wrap;">
            <p>
                Settings:
            </p>
            <div class="mb-1"
                style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div v-for="val, key in results[0].res.INCD.params"
                    class="param-list">
                    <div class="param-key">
                        {{ key }}
                    </div>
                    <div class="param-val">
                        {{ val }}
                    </div>
                </div>
            </div>
            <div class="mb-1"
                style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div v-for="val, key in results[0].res.OR.params"
                    class="param-list">
                    <div class="param-key">
                        {{ key }}
                    </div>
                    <div class="param-val">
                        {{ val }}
                    </div>
                </div>
            </div>
            <p>
                Results:
            </p>
            <div v-for="r, r_idx in results" >
                <!-- <button v-on:click="copy_table(r_idx)">
                    Copy table
                </button> -->
                <div v-bind:id="'rst_table_' + r_idx">
                    <table class="mb-1 tb-result">
                        <tr>
                            <th>Study <br>({{r.oc.length }} studies)</th>
                            <th>Et</th>
                            <th>Nt</th>
                            <th>Ec</th>
                            <th>Nc</th>
                            <th>Treatment</th>
                            <th>Control</th>

                            <th>Incidence</th>
                            <th>Incidence<br>Lower, Upper</th>
                            <th>Weight<br>(Fixed)</th>
                            <th>Weight<br>(Random)</th>

                            <th>Odds Ratio</th>
                            <th>Odds Ratio<br>Lower, Upper</th>
                            <th>Weight<br>(Fixed)</th>
                            <th>Weight<br>(Random)</th>
                        </tr>
                        <tr v-for="stu, stu_idx in r.oc">
                            <td>{{ stu[4] }}</td>
                            <td>{{ stu[0] }}</td>
                            <td>{{ stu[1] }}</td>
                            <td>{{ stu[2] }}</td>
                            <td>{{ stu[3] }}</td>
                            <td>{{ stu[5] }}</td>
                            <td>{{ stu[6] }}</td>

                            <td>{{ tf2(r.res.INCD.SM[stu_idx]) }}</td>
                            <td>
                                {{ tf2(r.res.INCD.SM_lower[stu_idx]) }}, 
                                {{ tf2(r.res.INCD.SM_upper[stu_idx]) }}
                            </td>
                            <td>
                                {{ tf2(r.res.INCD.fixed.wp[stu_idx] * 100) }}%
                            </td>
                            <td>
                                {{ tf2(r.res.INCD.random.wp[stu_idx] * 100) }}%
                            </td>

                            <td>{{ tf2(r.res.OR.SM[stu_idx]) }}</td>
                            <td>
                                {{ tf2(r.res.OR.SM_lower[stu_idx]) }}, 
                                {{ tf2(r.res.OR.SM_upper[stu_idx]) }}
                            </td>
                            <td>
                                {{ tf2(r.res.OR.fixed.wp[stu_idx] * 100) }}%
                            </td>
                            <td>
                                {{ tf2(r.res.OR.random.wp[stu_idx] * 100) }}%
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <b>Incidence: Fixed Effect Model</b>
                            </td>
                            <td>
                                {{ tf2(r.res.INCD.fixed.SM) }}
                            </td>
                            <td>
                                {{ tf2(r.res.INCD.fixed.SM_lower) }}, 
                                {{ tf2(r.res.INCD.fixed.SM_upper) }}
                            </td>
                            <td>
                                100%
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <b>Incidence: Random Effect Model</b>
                            </td>
                            <td>
                                {{ tf2(r.res.INCD.random.SM) }}
                            </td>
                            <td>
                                {{ tf2(r.res.INCD.random.SM_lower) }}, 
                                {{ tf2(r.res.INCD.random.SM_upper) }}
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                100%
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="7">
                                Heterogeneity:
                                I<sup>2</sup>={{ tf2(r.res.INCD.heterogeneity.I2*100) }}%
                                &nbsp;&nbsp;
                                Tau<sup>2</sup>={{ tf4(r.res.INCD.heterogeneity.tau2) }}
                                &nbsp;&nbsp;
                                <span v-if="r.res.INCD.heterogeneity.pval_Q < 0.01">
                                    <i>p</i> &lt; 0.01
                                </span>
                                <span v-else>
                                    <i>p</i>={{ tf2(r.res.INCD.heterogeneity.pval_Q) }} 
                                </span>
                            </td>
                            <td colspan="8">
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td colspan="7">
                                <b>OR: Fixed Effect Model</b>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                {{ tf2(r.res.OR.fixed.SM) }}
                            </td>
                            <td>
                                {{ tf2(r.res.OR.fixed.SM_lower) }}, 
                                {{ tf2(r.res.OR.fixed.SM_upper) }}
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                100%
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <b>OR: Random Effect Model</b>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                {{ tf2(r.res.OR.random.SM) }}
                            </td>
                            <td>
                                {{ tf2(r.res.OR.random.SM_lower) }}, 
                                {{ tf2(r.res.OR.random.SM_upper) }}
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                100%
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                Heterogeneity:
                                
                                I<sup>2</sup>={{ tf2(r.res.OR.heterogeneity.I2*100) }}%
                                &nbsp;&nbsp;
                                Tau<sup>2</sup>={{ tf4(r.res.OR.heterogeneity.tau2) }}
                                &nbsp;&nbsp;
                                <span v-if="r.res.OR.heterogeneity.pval_Q < 0.01">
                                    <i>p</i> &lt; 0.01
                                </span>
                                <span v-else>
                                    <i>p</i>={{ tf2(r.res.OR.heterogeneity.pval_Q) }} 
                                </span>
                            </td>
                            <td colspan="8">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div v-if="log.length > 0">
            <table class="tb-result">
                <tr>
                    <th>Number of outcomes</th>
                    <th>Time (seconds)</th>
                </tr>
                <tr v-for="r in log">
                    <td>{{ r.n }}</td>
                    <td>{{ tf4(r.dur) }}</td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.1.1/math.min.js"></script>

<!-- <script type="module" src="./src/meta.js"></script> -->
<script src="./dist/metajs-0.0.4.js"></script>
<script type="module">
// import { metajs } from './dist/metajs-esm-latest.js';
// const global = (0,eval)("this");
// global.metajs = metajs;
</script>

<script>
var app_test = {
    vpp: null,
    vpp_id: '#app_test',
    ocs: [],

    init: function() {
        
        this.vpp = new Vue({
            el: this.vpp_id,
            data: {
                n_ocs: null,

                // sample
                sample_txt: 'study,year,t1',

                // the log of tests
                log: [],

                // duration of calculation
                dur: null,

                // flag
                is_testing: false,

                // the n_times
                n_times: 10,

                // results
                results: [],

                // latest perf results
                perf_results: null
            },
            methods: {

                run_sample: function() {
                    this.clear();
                    // split text
                    var lines = this.sample_txt.split('\n');
                    
                    Papa.parse(this.sample_txt, {
                        header: true,

                        complete: function(rs) {
                            console.log(rs);

                            // parse outcomes
                            var outcome = [];

                            for (let i = 0; i < rs.data.length; i++) {
                                const r = rs.data[i];
                                outcome.push([
                                    parseInt(r.Et), 
                                    parseInt(r.Nt), 
                                    parseInt(r.Ec), 
                                    parseInt(r.Nc), 
                                    r.study, r.treatment, r.control
                                ]);
                            }

                            // now do ma
                            var ret = app_test.run_pma([outcome]);

                            // show
                            app_test.vpp.$data.results = ret.results;
                            app_test.vpp.$data.dur = ret.dur;
                        }
                    })
                },

                run_test: function(n_ocs, n_times, sm) {
                    this.is_testing = true;
                    var perf_results = [];

                    for (let t = 0; t < n_times; t++) {
                        // create dataset
                        var ocs = [];
                        for (let i = 0; i < n_ocs; i++) {
                            var oc = this.make_sample();
                            ocs.push(oc);
                        }

                        // run MA
                        const t0 = performance.now();
                        for (let i = 0; i < ocs.length; i++) {
                            const outcome = ocs[i];
                            var res = null;

                            if (sm == 'OR') {

                                res = metajs.metabin(
                                    outcome,
                                    {}
                                );

                            } else if (sm == 'RR') {

                                res = metajs.metabin(
                                    outcome,
                                    {
                                        sm: 'RR'
                                    }
                                );

                            } else if (sm == 'INCD') {
                                res = metajs.metaprop(
                                    outcome,
                                    {}
                                );
                            }
                        }
                        const t1 = performance.now();
                        const dur = (t1 - t0) / 1000;

                        perf_results.push(dur);
                        console.log('* ' + t + ', ' + dur);
                    }
                    this.is_testing = false;
                    console.log('* ' + n_times + 'times of ' + n_ocs + " on " + sm);
                    console.log(perf_results);
                    this.perf_results = perf_results;
                    return perf_results;
                },

                make_sample: function() {
                    var sample = [
                        'study,Et,Nt,Ec,Nc,treatment,control'
                    ];
                    var rs = [];

                    // number of studies
                    var n = math.randomInt(2, 50);

                    for (let i = 0; i < n; i++) {
                        var et = math.randomInt(0, 50);
                        var nt = math.randomInt(1, 50) + et;
                        var ec = math.randomInt(0, 50);
                        var nc = math.randomInt(1, 50) + ec;
                        var study = math.random().toString(36).slice(7).toLocaleUpperCase();
                        sample.push(
                            [study, et, nt, ec, nc, 'Treat', 'Placebo'].map(v=>''+v).join(',')
                        );
                        rs.push([
                            et, nt, ec, nc, study
                        ]);
                    }

                    sample = sample.join('\n');

                    this.sample_txt = sample;

                    return rs;
                },

                make_sample_run: function() {
                    this.make_sample();
                    this.run_sample();
                },

                demo: function(n) {
                    this.clear();
                    var idxes = math.pickRandom(Array.from(Array(10000).keys()), n);
                    var ret = app_test.run_tests_idxes(idxes);

                    // bind results
                    this.results = ret.results;
                    this.dur = ret.dur;
                },

                clear: function() {
                    // clear log
                    this.log = [];

                    // clear dur
                    this.dur = null;

                    // clear results
                    this.results = [];
                },

                run_tests_topn: function(n) {
                    this.clear();
                    this.is_testing = true;

                    setTimeout('app_test.run_tests_topn('+n+');app_test.vpp.$data.is_testing = false;', 500);
                },

                run_tests_rounds: function() {
                    this.clear();
                    this.is_testing = true;

                    setTimeout('app_test.run_tests_rounds();app_test.vpp.$data.is_testing = false;', 500);
                },

                run_tests_random: function(n) {
                    this.clear();
                    this.is_testing = true;
                    
                    setTimeout('app_test.run_tests_random('+this.n_times+');app_test.vpp.$data.is_testing = false;', 500);
                },

                tf2(v) {
                    return v.toFixed(2);
                },

                tf4(v) {
                    return v.toFixed(4);
                },

                copy_table: function(idx) {
                    jarvis.copy_to_clipboard(
                        document.getElementById(
                            'rst_table_' + idx
                        )
                    );
                }
            }
        });
    
    },

    run_pma: function(outcomes) {
        var results = [];

        const t0 = performance.now();
        for (let i = 0; i < outcomes.length; i++) {
            const outcome = outcomes[i];
            
            var res_OR = metajs.metabin(
                outcome,
                {}
            );

            var res_incd = metajs.metaprop(
                outcome,
                {}
            );

            // save the res
            results.push({
                oc: outcome,
                res: {
                    OR: res_OR,
                    INCD: res_incd
                }
            });
        }
        const t1 = performance.now();
        const dur = (t1 - t0) / 1000;

        return {
            dur: dur,
            results: results
        };
    },
};

var jarvis = {
    init: function() {
        // init the app first
        app_test.init();
    },

    /**
     * https://www.aspsnippets.com/questions/754238/Copy-HTML-Table-along-with-format-to-clipboard-using-JavaScript/
     */
    copy_to_clipboard: function(elem) {
        var targetId = "_hiddenCopyText_";
        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
        var origSelectionStart, origSelectionEnd;
        if (isInput) {
            target = elem;
            origSelectionStart = elem.selectionStart;
            origSelectionEnd = elem.selectionEnd;
        } else {
            target = document.getElementById(targetId);
            if (!target) {
                var target = document.createElement("textarea");
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }
            target.textContent = elem.innerHTML;
        }
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);
        var succeed;
        try {
            succeed = document.execCommand("copy");
        } catch (e) {
            succeed = false;
        }
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (isInput) {
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            target.textContent = "";
        }
        return succeed;
    }
};

$(document).ready(function() {
    jarvis.init();
});
</script>
</body>
</html>